template(name="ranking")
  div.chat.well
    unless currentUser
      +splash
    else
      .standings
        h2 Standings

        table(align="center")
          thead
            tr
              th
              th(colspan="4") games 
              th
              th(colspan="4") opponents
            tr
              th player
              th played
              th won
              th lost
              th pct
              th(width="20px")
              th played 
              th won
              th lost
              th pct
          tbody
            each standings
              tr
                .name 
                  td #{name}
                td #{played} 
                td #{won}
                td #{lost}
                td {{formatPercentage pct}}
                td
                td #{opponents_played}
                td #{opponents_defeated}
                td #{lost}
                td {{formatPercentage pvp_pct}}
